/*Initialisation des variables de couleurs*/
:root {
    --element: #B8776A;
    --carte: #B8B66A;
    --fondPage: #FFFFFF;
    --headerFooter: #9CB76A;
    --doth: #D9D9D9;
    --fontColor: #382B28;
    --font: 'Open Sans'
}

/* open-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../font/open-sans-v40-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../font/open-sans-v40-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* Réinitialisation des styles de base pour une meilleure compatibilité entre navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base pour le corps de la page */
body {
    font-family: var(--font);
    color: var(--fontColor);
    width: 100%;
    border: 0;
    padding: 0;
    contain: content;
}

.contenaire {
    max-width: 1200px;
    width: 1200px;
    margin: 0 ;
}

/* Styles pour les en-têtes */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
}

/* Styles pour les paragraphes */
p {
    margin-bottom: 15px;
}

/* Styles pour les liens */
a {
    color: var(--fontColor);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styles pour les listes */
ul,
ol {
    margin-bottom: 15px;
    padding-left: 20px;
    list-style: none;
}


/* Styles pour les formulaires */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Styles pour les images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}



/*==================HEADER=================*/
#image {
    width: 80%;
    margin-bottom: 32px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
}
/*----------------HAUT-------------*/

.hautPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*===================courousel services===============*/


.carousel-control-next,
.carousel-control-prev {
    top: 175px;
}


/*.carousel-control-next-icon i, .carousel-control-prev-icon i {
        font-size: 3rem;
        color: var(--fontColor);
    }*/


@media (max-width: 576px) {

    /*=============GENERAL============*/
    body {
        padding: 0px;
        width: 576px;
    }

    .contenaire {
        width: 100%;
        max-width: 576px;
        padding: 0;
        contain: content;
    }

    header {
        background-color: var(--headerFooter);
        height: 280px;
        border-bottom: 4px solid var(--element);
    }

    h1 {
        font-size: 20px;
    }

    /*===============HEADER===============*/

    #menuPrincipale {
        display: none;
    }

    .hautPage {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hautPage :nth-child(3) {
        order: 2;
    }

    .hautPage :nth-child(1) {
        order: 1;
    }

    .hautPage :nth-child(2) {
        order: 3;
    }

    .burger {
        margin-left: 470px;
        height: 32px;
        font-size: 2.5rem;
    }

    .hautPage h3,
    .hautPage p {
        display: none;
    }

    .hautPage a {
        width: 180px;
    }

    .hautPage #info {
        display: flex;
        flex-direction: row;

    }

    .hautPage .nousTrouver {
        margin-right: 20px;
        font-size: 1.5rem;
    }

    .hautPage .telephone {
        font-size: 1.5rem;
    }

    button,
    .btn {
        padding: 6px 12px;
        font-size: 12px;
    }


    /*==================MENU BURGER===============*/

    #menuBurger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--element);
        padding-top: 16px;
        padding-left: 16px;
        margin-right: 219px;
        position: relative;
        top: -296px;
        left: -413px;
        height: 315px;
        font-size: 1.8rem;
        font-weight: bold;
        z-index: 1000;

    }

    #menuBurger ul {
        padding-top: 35px;
    }

    #menuBurger #reseau {
        margin-bottom: 16px;
    }


    /*========================MAIN ACCUEIL==================*/

    .ariane {
        display: flex;
        justify-content: center;
        background-color: var(--element);
        font-weight: bold;
        font-size: 1.1rem;
        margin: 0px 38%;
        border-radius: 0 0 10px 10px;
    }

    .ariane p {
        margin: 4px;
    }

    #presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin: 50px 32px;
    }

    #presentation h2 {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 32px;
        text-align: center;
    }


    /*============Slide==============*/



    #image{
        display: none;
    }


    #image img {
        border-radius: 15px;
    }

    /*============services==============*/

    #services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    #services h2 {
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 32px;
        margin-top: 64px;
    }

    /*============carte services==============*/


    #services .servicesCard {
        display: flex;
        flex-direction: column;
        margin: 8px 10%;
        background-color: var(--carte);
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    #services .servicesCard h3,
    #services .servicesCard .serviceInfo {
        margin-left: 24px;
        margin-right: 24px;
    }

    #services .servicesCard h3 {
        margin-top: 32px;
        margin-bottom: 16px;
        font-weight: bold;
    }


    #services .servicesCard .bouton {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--fondPage);
        background-color: var(--fontColor);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin: 32px 32px;
        padding: 8px 0;

    }

    #services .servicesCard img {
        border-radius: 0px 0px 15px 15px;

    }

    .bouton a h3 {

        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        align-items: center;
        color: var(--fondPage);
        background-color: var(--fontColor);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin: 60px 100px;
        padding: 16px 0;
    }

    .bouton h3 {
        margin: 0;
    }


    #information1 .tarif, #information2 .tarif, #information3 .tarif, #information4 .tarif {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-top: 1px solid var(--fontColor) ;
        padding-top: 32px;

    }

    #information1 i, #information2 i, #information3 i, #information4 i{
        font-size: 1.5rem;
        font-weight: bolder;
        color: var(--fontColor);
        margin-right: 16px;
        

    }

    #information1 p, #information2 p, #information3 p, #information4 p{
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
    }

    #information1 .detail, #information2 .detail, #information3 .detail, #information4 .detail{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }
    
    .sketch{
        width: 60%;
        margin-bottom: -16px;
        margin-left: 22.5%;

    }

    .card-body{
        background-color: var(--carte);
        border: none;
    }


    /*============FIN DU MENU===============*/


    .endMain i {
        font-size: 2.3rem;
        margin-left: 500px;
    }

    .endMain img {
        width: 60%;
        margin-left: 21%;

    }

    /*==============carousel services=============*/
    .carousel-control-prev {
        left: 32px;
    }

    .carousel-control-next {
        right: 50px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: 0px;
    }



    .carousel-control-prev-icon {
        background-image: none;

    }

    .carousel-control-prev-icon i,
    .carousel-control-next-icon i {
        display: none;

    }

    .carousel-control-next-icon {
        background-image: none;
    }




    /*-------------MAIN La ferme------------*/

    /*============La ferme-carousel========*/

    .d-md-block {
        display: block !important;
    }

    .carousel-caption {
        background-color: var(--element);
        opacity: 0.9;
        position: absolute;
        right: 15%;
        border-radius: 15px;
        bottom: -1.75rem;
        height: 126px;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-right: 15%;
        margin-bottom: 0.5rem;
        margin-left: 15%;
    }

    .carousel {
        position: relative;

    }

    .carousel h5 {
        margin-bottom: 3px;
    }

    .carousel p {
        font-size: 0.8rem;
    }


    #presentationImg .carousel-inner {
        position: relative;
        width: 90%;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 32px;
        margin-left: 5%;
        margin-right: auto;

    }


    /*============La ferme - nos valeur=======*/

    .valeur {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .valeur h2 {
        font-size: 2.2rem;
        font-weight: bold;
    }

    .valeur p {
        text-align: justify;
        padding: 0 32px;
        margin-bottom: 32px;
    }

    .valeur img {
        width: 200px;
    }








    /*-------------MAIN Nos services------------*/


    #services .presentation {
        text-align: justify;
        margin: 16px 64px;
    }


    #services #carouselServices {
        margin-top: 16px;
        margin-bottom: 32px;
    }

    #services #carouselServices .servicesCard p {
        text-align: justify;

    }

    #services #carouselServices .servicesCard .bouton {
        text-align: center;
    }




    /*-------------MAIN Actus------------*/

    /*-------------MAIN contact------------*/

    /*-------------MAIN Mentions------------*/


    /*===============FOOTER============*/

    footer {
        background-color: var(--headerFooter);

    }

    .basPage {
        display: flex;
        flex-direction: row;
        padding: 32px 16px;
        justify-content: space-between;
        align-items: center;
    }

    .basPage img {
        width: 30%;
        height: 30%;
        margin-top: 0px;
    }

    .basPage .nousTrouver {
        text-align: center;
        font-size: 0.8rem;
        width: 30%;
    }

    .basPage .nousTrouver i {
        font-size: 1.3rem;
    }

    .basPage .nousTrouver h3 {
        font-weight: bold;
        font-size: 0.9rem;
        margin-bottom: 8px;
    }

    .basPage .partenaire {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 30%;
    }


    .basPage .partenaire h3 {
        font-weight: bold;
        font-size: 0.9rem;
        margin-bottom: 0px;
    }

    #mentions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 0.8rem;
    }

    #mentions a:nth-child(1) {
        margin-right: 12px;
    }

}



/*===================++++412px++++=============*/

@media (max-width: 412px) {

    body{
        width: 412px;
    }

    .contenaire {
        width: 100%;
        max-width: 412px;
        padding: 0;
    }


    /*===============HEADER===============*/

    .burger {
        margin-left: 329px;
        height: 32px;
        font-size: 2.5rem;
    }

    /*==================MENU BURGER===============*/

    #menuBurger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--element);
        padding-top: 16px;
        padding-left: 16px;
        margin-right: 157px;
        position: relative;
        top: -296px;
        left: -413px;
        height: 315px;
        font-size: 1.3rem;
        font-weight: bold;
    }

    /*========================MAIN ACCUEIL==================*/
    /*============Slide==============*/


    /*============services==============*/

    #services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    #services .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin: 50px 32px;
    }

    #image{
        display: none;
    }


    /*============carte==============*/


    #services .servicesCard {
        display: flex;
        flex-direction: column;
        margin: 8px 16px;
        background-color: var(--carte);
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    #services .servicesCard h3,
    #services .servicesCard p {
        margin-left: 24px;
        margin-right: 24px;
    }

    #services .servicesCard h3 {
        margin-top: 32px;
        margin-bottom: 16px;
        font-weight: bold;
    }

    #services .servicesCard p {
        margin-bottom: 16px;

    }


    #services .servicesCard .bouton {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--fondPage);
        background-color: var(--fontColor);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin: 32px 32px;
        padding: 8px 0;

    }

    #services .servicesCard img {
        border-radius: 0px 0px 15px 15px;

    }

    .bouton a h3 {

        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        align-items: center;
        color: var(--fondPage);
        background-color: var(--fontColor);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin: 60px 62px;
        padding: 16px 0;
    }

    .bouton h3 {
        margin: 0;
    }


    .endMain i {
        font-size: 2.3rem;
        margin-left: 329px;
    }

    .endMain img {
        width: 60%;
        margin-left: 21%;

    }


    /*==============carousel services=============*/
    .carousel-control-prev {
        left: 32px;
    }

    .carousel-control-next {
        right: 50px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: 0px;
    }

    .carousel-control-prev-icon {
        background-image: none;

    }

    .carousel-control-prev-icon i {
        font-size: 3rem;
        color: var(--fontColor);

    }

    .carousel-control-next-icon {
        background-image: none;
    }

    .carousel-control-next-icon i {
        font-size: 3rem;
        color: var(--fontColor);
    }





    /*-------------MAIN La ferme------------*/

    #presentation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin: 50px 32px;
    }

    #presentationImg .carousel-inner{
        margin: 0 24px;
    }

    .carousel-caption {
        height: 142px;
    }

     /*============La ferme - nos valeur=======*/


    .valeur h2 {
        font-size: 2rem;
        margin-top: 32px;
    }



    /*-------------MAIN Nos services------------*/

    /*-------------MAIN Actus------------*/

    /*-------------MAIN contact------------*/

    /*-------------MAIN Mentions------------*/


    /*===============FOOTER============*/



    .basPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 16px;
        justify-content: space-between;
    }

    .basPage .partenaire {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;

    }

    .basPage .logoFooter{
        width: 60%;
    }

    .basPage .partenaire h3 {
        font-size: 1.2rem;
        margin-top: 32px;
    }

    .basPage .partenaire img {
        width: 20%;
        margin-top: 8px;
    }

    .basPage .nousTrouver {
        display: flex;
        /*flex-direction: column;*/
        flex-direction: row;
        text-align: center;
        margin: 8px 0px;
        font-size: 0.8rem;
        width: 100%;
        justify-content: center;
    }



}

@media (max-width: 320px) {

    /*=================GENERALE==============*/

    body{
        max-width: 320px;
        width: 100%;
        max-width: 320px;
        padding: 0;
        contain: content;
    }

    header {
        height: 380px;
    }
    

    .contenaire {
        width: 100%;
        max-width: 320px;
        padding: 0;
        contain: content;
    }

    #menuBurger {
        margin-right: 122px;
    }

    #menuBurger #cross{
        margin-top: 50px;

    }

    .burger {
        margin-left: 258px;
    }

    
    .endMain i {
        margin-left: 258px;
    }

    #image{
        display: none;
    }

    .basPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 16px;
        justify-content: space-between;
        border-top: 2px solid var(--element);
    }

    .basPage .partenaire {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;

    }

    .basPage .logoFooter{
        width: 60%;
    }

    .basPage .partenaire h3 {
        font-size: 1.2rem;
        margin-top: 32px;
    }

    .basPage .partenaire img {
        width: 20%;
        margin-top: 8px;
    }

    .basPage .nousTrouver {
        display: flex;
        /*flex-direction: column;*/
        flex-direction: row;
        text-align: center;
        margin: 8px 0px;
        font-size: 0.8rem;
        width: 100%;
        justify-content: center;
    }

    

    /*-------------MAIN La ferme------------*/

    .ariane {
        display: flex;
        justify-content: center;
        background-color: var(--element);
        font-weight: bold;
        font-size: 1.1rem;
        margin: 0px 35%;
        border-radius: 0 0 10px 10px;
    }

    .ariane p {
        margin: 4px;
    }

    #presentation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin: 32px 16px;
    }

    #services h2{
        margin-top: 16px;
        margin-bottom: 8px;

    }

    #presentationImg .carousel-inner{
        margin: 0 24px;
    }

    .carousel-caption {
        height: 100px;
    }

    .carousel-caption h5{
        font-size: 1rem;
    }

    .carousel-caption p {
        display: none;
    }

     /*============La ferme - nos valeur=======*/


    .valeur h2 {
        font-size: 1.3rem;
        margin-top: 32px;
    }

/*============SERVICES=======*/




}