/*Initialisation des variables de couleurs*/
:root {
    --element: #B8776A;
    --carte: #B8B66A;
    --fondForm: #eeedd5;
    --fondPage: #FFFFFF;
    --headerFooter: #9CB76A;
    --doth: #D9D9D9;
    --fontColor: #382B28;
    --font: 'Open Sans';
    --title: 'Foxlite Script';
}

/* open-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../font/open-sans-v40-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../font/open-sans-v40-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-family: 'Foxlite Script';
    src: url('../font/FoxliteScript.otf') format('opentype');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Réinitialisation des styles de base pour une meilleure compatibilité entre navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.contenaireMain {
    max-width: 1200px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}


/* Styles de base pour le corps de la page */
body {
    font-family: var(--font);
    color: var(--fontColor);
    font-size: 16px;
    
}


/* Styles pour les en-têtes */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}


/* Styles pour les liens */
a {
    color: var(--fontColor);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

/* Styles pour les listes */
ul,
ol {
    margin-bottom: 12px;
    padding-left: 0px;
    list-style: none;
}


/* ==================Styles pour le formulaires=============== */


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 92px;
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
    width: 50%;
}



form p {
    width: 95%;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--doth);
    background-color: var(--fondForm);
    border-radius: 5px;
}

input[type="submit"] {
    font-size: 1.2rem;
    font-weight: bold;
    width: auto;
    color: var(--fondPage);
    background-color: var(--fontColor);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 32px auto;
    padding: 8px 42px;
    cursor: pointer;
}

input[type="submit"]:hover {
    transform: scale(1.1);
}



/*======iframe=========*/

.carte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.carte i {
    font-size: 3.4rem;
    margin-bottom: 8px;
}

.carte iframe {
    width: 90%;
    height: 100%;
    border: 1px solid var(--doth);
    border-radius: 5px;
}

/* Styles pour les images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*general*/

.contenaireHead {
    padding: 32px 96px 0 96px;
}

/*video*/

.articleVideo iframe {
    height: 100%;
}







/*==================HEADER=================*/
header {
    background-color: #9cb76ac8;
    height: 100%;
    border-bottom: 4px solid var(--element);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}


#image {
    width: 80%;
    margin-bottom: 32px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
}

#imageFond {
    z-index: -4;
    opacity: 0.4;
    object-fit: cover;
    position: absolute;
    top: -127px;
    left: 0;
    width: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}


#menu-icon {
    display: none;
}

#menuBurger {
    display: none;
}

#menuPrincipale ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#menuPrincipale ul li {
    font-size: 1.1rem;
    font-weight: bold;
}

#menuPrincipale ul li:hover {
    scale: 1.2;

}

.hautPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hautPage img {
    margin-left: auto;
    margin-right: auto;
    margin-top: -85px;
    margin-bottom: -8px;
    width: 50%;
}

.hautPage a {
    margin: auto;
}

#info {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    width: 80%;
}

#info .nousTrouver {
    display: flex;
    align-items: center;

}

#info #telephone {
    display: flex;
    align-items: center;
    padding: 4px 11px;
}

#info #telephone:hover {
    scale: 1.1;
}

.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-header-bg: #382B28;
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
  }

  .popover-body{
    text-align: center;
  }

#info .nousTrouver i {
    font-size: 1.7rem;
    color: var(--fontColor);

}

#info #telephone i {
    font-size: 1.6rem;
    color: var(--fontColor);
    cursor: pointer;
}

#info #telephone p {
    font-size: 1.2rem;
}

#contactHeader {
    display: none;
}

/*=========================================================*/
/*=============================MAIN=====================*/

.ariane {
    position: sticky;
    cursor: pointer;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    background-color: var(--element);
    font-weight: bold;
    font-size: 1.2rem;
    width: 118px;
    padding-bottom: 6px;
    margin: 0px auto;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ariane p {
    margin: 4px;
}

#hookMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 150px;
    width: 100%;
    border: 1px solid rgba(22, 10, 10, 0.24);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.692);
}

#menuTwo {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 8px;

}


#presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 32px;
}

#presentation h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: center;
}

#presentation p {
    font-size: 1.2rem;
}



.sketch {
    width: 60%;
    opacity: 0.8;
    margin: 80px auto 64px auto;

}

#shareDesktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 1.5rem;
    background-color: var(--element);
    padding: 8px 16px 8px 16px;
    top: 300px;
    right: 0;
    border-radius: 5px;
    border: 1px solid rgba(22, 10, 10, 0.24);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.692);
    z-index: 10;
}

#shareDesktop #network {
    display: none;
    flex-direction: column;
}

#shareDesktop .share {
    cursor: pointer;
}

/*=========================================================*/
/*=======SERVICES=====*/

#services .presentation {
    text-align: center;
    margin: 128px 32px 64px 32px;
    font-size: 1.2rem;
}


.fond {
    position: absolute;
    width: 80%;
    z-index: -1;
}


#services h2 {
    margin-bottom: 64px;
    margin-top: 64px;
    font-size: 1.6rem;
}

/*=========================================================*/
/*============carte services==============*/

.phoneVersion {
    display: none;
}

.desktopVersion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}


#services .servicesCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px 3%;
    width: 300px;
    height: 650px;
    background-color: var(--carte);
    border-radius: 15px;
    border: 1px solid rgba(22, 10, 10, 0.24);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.692);
}

#services .full {
    max-width: 735px;
    height: auto;
    width: auto;
}

#services .servicesCard h3,
#services .servicesCard .serviceInfo {
    margin-left: 24px;
    margin-right: 24px;
}

#services .servicesCard h3 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: larger;
    height: 10%;
    text-align: center;
}


#services .servicesCard .bouton {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--fondPage);
    background-color: var(--fontColor);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 32px auto;
    padding: 8px 50px;
    max-width: 250px;

}

#services .servicesCard img {
    border-radius: 0px 0px 15px 15px;

}

#services #carouselServices {
    margin-top: 16px;
    margin-bottom: 32px;
}



#services #carouselServices .servicesCard p {
    text-align: center;
}

#services #carouselServices .servicesCard .collapse p {
    text-align: center;
    margin: 0;
}


.miniSketch {
    width: 40%;
    opacity: 0.8;
    margin: 0 auto;

}

#services #carouselServices .servicesCard .bouton {
    text-align: center;
}

/*=========================================================*/
/*================ICON CAROUSEL==============*/


.carousel-control-next {
    right: -78px;
    justify-content: flex-end;
}

.carousel-control-prev {
    justify-content: flex-start;
    left: -78px;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
    justify-content: center;
    align-items: center;
}



.carousel-control-prev-icon {
    background-image: none;

}


.carousel-control-next-icon {
    background-image: none;
    transform: rotateY(180deg);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 6rem;
    height: 6rem;
}

/*=========================================================*/
/*==============INDICATOR===========*/


.carousel-indicators [data-bs-target] {
    background-color: var(--fontColor);
}

.bouton a h3 {
    color: var(--fondPage);
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
    background-color: var(--fontColor);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 60px 100px;
    padding: 16px 0;
}



#information1 .tarif,
#information2 .tarif,
#information3 .tarif,
#information4 .tarif {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--fontColor);
    padding-top: 32px;

}

#information1 i,
#information2 i,
#information3 i,
#information4 i {
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--fontColor);
    margin-right: 16px;


}

#information1 p,
#information2 p,
#information3 p,
#information4 p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

#information1 .detail,
#information2 .detail,
#information3 .detail,
#information4 .detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.card-body {
    background-color: var(--carte);
    border: none;
}

/*-------------Avis------------*/

#avis{
    margin-top: 160px;
    margin: 160px 32px 0 32px;
}

#avis .servicesCard .avisClient{
    text-align: center;
}


#avis h2{
    font-size: 1.6rem;
    margin-bottom: 80px;
}

#avis h3{
    font-size: 1.1rem;
    margin-bottom: 40px;
}



/*=========================================================*/

/*-------------MAIN La ferme------------*/

.d-md-block {
    display: block;
}

.carousel-caption {
    background-color: var(--element);
    opacity: 0.9;
    position: absolute;
    right: 15%;
    border-radius: 15px 15px 0 0;
    bottom: 0;
    height: auto;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 0rem;
    color: #fff;
    text-align: center;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 0.5rem;
    margin-left: 15%;
    bottom: -50px;
}

.carousel {
    position: relative;

}

.carousel h5 {
    margin-bottom: 0px;
}

.carousel p {
    font-size: 1.1rem;
    padding: 0px 16px 16px 16px;
}

#presentationImg {
    width: 80%;
}


#presentationImg .carousel-inner {
    position: relative;
    width: 80%;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid rgba(87, 143, 34, 0.425);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.692);
    margin-bottom: 128px;
    margin-left: auto;
    margin-right: auto;

}


.valeur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.valeur h2 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 64px;
}

.valeur p {
    text-align: center;
    padding: 0 32px;
    margin-bottom: 64px;
}

.valeur img {
    width: 200px;
}


/*===============================ACTUS===============================*/

.title {
    font-weight: 400;
}


.diaryDesktop {
    display: grid;
    grid-template-columns: 200px 5fr;
    grid-auto-rows: minmax(50px, auto);
    margin-top: 80px;
}


.diaryDesktop .menuDiary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1;
    grid-row: 2;
    margin-top: 8px;
    font-size: 1.5rem;
    background-color: #b8776aed;
    border: 1px solid rgba(87, 143, 34, 0.425);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -ms-border-radius: 5px 0 0 0;
    -o-border-radius: 5px 0 0 0;
}



.diaryDesktop .menuDiary ul {
    margin-bottom: 106px;
    margin-left: 16px;

}

.diaryDesktop .menuDiary p {
    margin: 32px 0 0 16px;
    cursor: pointer;
}

.diaryDesktop .menuDiary p:hover {

    display: flex;
    scale: 1.1;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.diaryDesktop .menuDiary .fondMenu {
    height: 100%;
    object-fit: cover;
    margin: 0 0 0 0;
    z-index: -1;
    filter: blur(1px);
}


.diaryDesktop .title {
    font-size: 6rem;
    grid-column: 1 / 5;
    grid-row: 1;
    align-content: center;
    text-align: center;
    font-family: var(--title);

}

.diaryDesktop .part {
    grid-column: 1;
    grid-row: 2;
    margin-top: 32px;

}

.diaryDesktop .part h4 {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;

}

.diaryDesktop .part img {
    margin: 32px auto 0 auto;
    width: 160px;
    height: 80%;
    object-fit: cover;
    border: 1px solid rgba(87, 143, 34, 0.425);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

}



.diaryDesktop .firstArticle {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    margin: 8px 8px 32px 0px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    background-color: #F8F1F0;
}

.diaryDesktop .firstArticle h3 {
    margin-left: 16px;
    margin-top: 32px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}


.diaryDesktop .firstArticle img {
    object-fit: cover;
    height: 340px;
    width: 100%;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0px 0;
    -moz-border-radius: 0 5px 0px 0;
    -ms-border-radius: 0 5px 0px 0;
    -o-border-radius: 0 5px 0px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.diaryDesktop .firstArticle .infoArticle {
    display: flex;
    margin: 0px 16px 16px 16px;
    padding-bottom: 16px;
    padding-top: 8px;
    border-top: 1px solid var(--fontColor);
    justify-content: space-between;
}

.diaryDesktop .firstArticle .infoArticle i {
    margin: 0 16px 0 16px;
}


.diaryDesktop .cardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(50px, 480px);
}

.diaryDesktop #galleriePage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    ;
    grid-auto-rows: minmax(150px, auto);
}

.diaryDesktop .cardList .articleGallerie {

    margin: 16px 16px 16px 16px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.diaryDesktop .cardList .articleGallerie img {
    object-fit: cover;
    height: 100%;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
}

.diaryDesktop .cardList .articleVideo {
    margin: 16px 16px 16px 16px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.diaryDesktop .cardList .articleVideo iframe {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}



.diaryDesktop .articleCard {
    display: flex;
    flex-direction: column;
    margin: 0 16px 16px 16px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #F8F1F0;
}

.diaryDesktop .articleCard img {
    border-radius: 5px 5px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-height: 270px;
}

.diaryDesktop .articleCard .infoArticle i:nth-child(2) {
    display: none;
}

.diaryDesktop .articleCard .infoArticle i:nth-child(3) {
    display: none;
}

.diaryDesktop .articleCard h3 {
    padding-left: 16px;
    margin-top: 16px;
    font-size: 1.4rem;
}

.diaryDesktop .articleCard p {
    text-align: center;
    margin-top: 16px;
}

.diaryDesktop #stablePage {
    display: block;
}

.diaryDesktop #pedagoActive {
    display: none;
}

.diaryDesktop #farmActive {
    display: none;
}

.diaryDesktop #gallerieActive {
    display: none;
}

.diaryDesktop #videoActive {
    display: none;
}


.diaryDesktop #pedagoPage {
    display: none;
}


.diaryDesktop #farmPage {
    display: none;
}

.diaryDesktop #galleriePage {
    display: none;
}

.diaryDesktop #videoPage {
    display: none;
}


.diaryMobile {
    display: none;
}


.card-body img {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}




.diaryDesktop .cardList .articleCard {
    padding: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

}

.card-body {
    padding: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

}

.diaryDesktop .cardList .articleCard p {
    padding: 0 16px;
}

.card-body p {
    padding: 0 16px;
}

.diaryDesktop .cardList .articleCard .infoArticle {
    display: flex;
    justify-content: space-between;
    margin: 8px 12px;
    padding: 0 12px;
    width: 90%;
    border-bottom: 1px solid var(--fontColor);
}

/*=========================================================*/
/*================CONTACT===================*/

#presentation h3 {
    font-family: var(--title);
    font-size: 6rem;
    margin-bottom: 32px;
}

#formulaire {
    display: flex;
    flex-wrap: wrap;
}

#formulaire .g-recaptcha {
    position: relative;
    right: 133px;
}




.privacy {
    display: flex;
}

.privacy label {
    font-size: smaller;
    font-weight: 400;
    margin-bottom: 16px;
}

.privacy input[type="radio"] {
    margin-right: 24px;
}


/*=========================================================*/
/*================ENDMAIN===================*/

.endMain {
    margin-top: 32px;
}

.endMain .bouton {
    margin: 0px auto;
    padding-top: 64px;
    max-width: 400px;
    width: auto;
    min-width: 160px;
}

.endMain .up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.endMain .up p {
    font-weight: bold;
}

.endMain i {
    font-size: 2.3rem;
}

.endMain img {
    width: 32%;
    margin: 0 auto;
}


/*=========================================================*/

/*=============MENTION=======================*/

#mentionsLeg {
    display: flex;
    flex-direction: column;
    margin: 64px 32px 0 32px;

}

#mentionsLeg a {
    word-wrap: break-word;
}

#mentionsLeg h1 {
    font-family: var(--title);
    font-size: 5rem;
    font-weight: 400;

}

#mentionsLeg .titleMention {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: end;
    margin-top: 32px;
    margin-bottom: 40px;
    min-width: 240px;
    width: auto;
}

#mentionsLeg .titleMention h3 {
    min-width: 200px;
    margin-bottom: 0;
    width: auto;
}


#mentionsLeg .titleMention img {
    max-width: 50px;
    min-width: 30px;
    width: auto;
    margin-right: 16px;
}



/*=========================================================*/

/*=============FOOTER=======================*/


footer {
    background-color: var(--headerFooter);

}

.basPage {
    display: flex;
    flex-direction: row;
    padding: 32px 16px;
    justify-content: space-between;
    align-items: center;
}

.basPage img {
    width: 16%;
    margin-top: 0px;
}

.basPage .nousTrouver {
    text-align: center;
    width: 40%;
}

.basPage .nousTrouver i {
    font-size: 1.7rem;
}

.basPage .nousTrouver h3 {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 8px;
}

.basPage .partenaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
}


.basPage .partenaire h3 {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0px;
}

#mentions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.8rem;
    padding-bottom: 16px;
}

#mentions a:nth-child(1) {
    margin-right: 12px;
}


/*===============================================================================================================*/
/*===========================576px==============================*/


@media (max-width: 576px) {

    /*=============GENERAL============*/
    body {
        padding: 0px;
        width: 100%;
        max-width: 576px;
        font-size: 1.1rem;
    }


    header {
        background-color: var(--headerFooter);
        height: 200px;
        border-bottom: 4px solid var(--element);
    }

    .contenaireHead {
        padding: 0px 0px 0 0px;
    }

    .contenaireMain {
        max-width: 576px;
    }


    .endMain {
        margin-top: 40px;
    }

    #shareDesktop {
        display: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.5rem;

    }


    /*=========================================================*/
    /*===============HEADER===============*/

    #menuPrincipale {
        display: none;
    }

    .hautPage {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        justify-content: center;

    }

    .hautPage :nth-child(3) {
        order: 2;
    }

    .hautPage :nth-child(1) {
        order: 1;
    }

    .hautPage :nth-child(2) {
        order: 3;
    }

    #menu-icon {
        display: block;
    }

    .burger {
        margin-left: 74%;
        margin-top: 10px;
        font-size: 2.5rem;
    }

    .hautPage h3,
    .hautPage p {
        display: none;
    }

    .hautPage a {
        width: 180px;
    }

    .hautPage img {
        margin-left: auto;
        margin-right: auto;
        margin-top: -51px;
        margin-bottom: -22px;
        width: 70%;
    }

    #info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 8px auto;

    }

    #info #telephone {
        padding: 0px 0px;
        width: 30px;
    }

    #info #telephone i {
        font-size: 1.3rem;
    }

    #info .nousTrouver i {
        font-size: 1.3rem;
    }

    .hautPage #info .nousTrouver .localisation {
        width: 100%;

    }

    .hautPage .nousTrouver {
        margin-right: 40px;
    }


    button,
    .btn {
        padding: 6px 12px;
        font-size: 12px;
    }

    /*=========================================================*/

    /*==================MENU BURGER===============*/

    #menuBurger {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--element);
        width: 41%;
        height: 355px;
        position: absolute;
        top: -388px;
        left: 29%;
        transform: translateX(2%);
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 0 15px 15px;
        z-index: 8;
    }


    #menuBurger ul {
        padding-top: 65px;
    }

    #menuBurger #reseau {
        margin-top: 26px;
    }

    /*=========================================================*/

    /*========================MAIN ACCUEIL==================*/

    .ariane {
        font-size: 1.1rem;
    }

    #presentation h2 {
        font-size: 1.5rem;
        margin-bottom: 32px;
    }

    /*=========================================================*/

    /*============Slide==============*/



    #image {
        display: none;
    }


    #image img {
        border-radius: 15px;
    }

    /*=========================================================*/
    /*============services==============*/

    .phoneVersion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .desktopVersion {
        display: none;
    }


    #services h2 {
        margin-bottom: 32px;
        margin-top: 64px;
    }

    /*=========================================================*/
    /*==============carousel services=============*/
    .carousel-control-prev {
        left: 32px;
    }

    .carousel-control-next {
        right: 50px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: 0px;
    }


    .carousel-control-prev-icon i,
    .carousel-control-next-icon i {
        display: none;

    }


    .carousel-item-next,
    .carousel-item-prev {
        display: none;
    }


    #services #carouselServices {
        margin: 0 8px;
    }

    .carousel-inner {
        padding: 0 16px;
        width: 98%;
    }



    #services #carouselServices .servicesCard p {
        text-align: center;

    }

    #services #carouselServices .servicesCard .collapse {
        padding: 0 16px;
    }


    #services #carouselServicesPhone {
        margin-top: 16px;
        margin-bottom: 32px;
    }



    #services #carouselServicesPhone .servicesCard p {
        text-align: center;
        font-size: 1rem;

    }

    #services #carouselServicesPhone .servicesCard .bouton {
        text-align: center;
    }



    /*=========================================================*/

    /*============carte services==============*/


    #services .servicesCard {
        display: flex;
        flex-direction: column;
        margin: 8px auto;
        height: auto;
    }

    #services .servicesCard h3 {
        margin-left: 24px;
        margin-right: 24px;
    }


    #services .servicesCard .bouton {
        width: auto;

    }


    .bouton a h3 {
        margin: 60px 100px;
    }


    .sketch {
        margin-bottom: -16px;
        margin-left: 22.5%;

    }


    /*=========================================================*/
    /*============FIN DU MENU===============*/


    .endMain img {
        width: 50%;
        margin-left: 27%;
    }

    .endMain .bouton {
        padding-top: 0px;
    }



    /*=========================================================*/
    /*-------------MAIN La ferme------------*/


    .d-md-block {
        display: none;
    }


    .carousel h5 {
        margin-bottom: 3px;
    }

    .carousel p {
        padding: 16px;
    }


    #presentationImg .carousel-inner {
        width: 100%;
    }

    .carousel-control-next .prevNext,
    .carousel-control-prev .prevNext {
        display: none;
    }


    .valeur p {
        margin-bottom: 32px;
    }


    /*=========================================================*/

    /*-------------MAIN Nos Services------------*/


    #services .presentation {
        margin-top: 80px;
        margin-bottom: 104px;

    }


    /*=========================================================*/
    /*-------------MAIN contact------------*/

    #presentation h3 {
        font-size: 4.5rem;
    }

    form {
        width: 95%;
        padding-top: 0;
    }

    .carte {
        width: 100%;
        height: 480px;
    }



    /*=========================================================*/
    /*-------------MAIN Mentions------------*/







    /*=========================================================*/
    /*=======================ACTUS========================*/

    .diaryDesktop {
        display: none;

    }

    .diaryMobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .diaryMobile h3 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 32px;
    }

    .diaryMobile .accordion {
        width: 90%;
    }

    .diaryMobile .accordion .collapsed {
        justify-content: center;
        background-color: #B8776A;
        font-size: 1.3rem;
        padding: 10px 0;

    }

    .accordion-button::after {
        display: none;
    }

    .accordion-button:not(.collapsed) {
        background-color: var(--fontColor);
        color: var(--fondPage);
        justify-content: center;
        font-size: 1.3rem;
    }

    .accordion-collapse {
        width: 90%;
        margin: 16px 0;
    }


    .accordion-collapse .card {
        margin: 32px 0;
        text-align: center;
    }

    .accordion-collapse .articleCard {
        padding: 0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        margin: 32px 0;
        text-align: center;

    }

    .accordion-collapse .articleCard h3 {
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 8px;
    }

    .accordion-collapse .articleCard img {
        border-radius: 5px;
    }


    .accordion-collapse .articleCard {
        display: flex;
        flex-direction: column;
        margin: 0 16px 16px 16px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        background-color: #F8F1F0;
    }

    .accordion-collapse .articleCard iframe {
        border-radius: 15px;
    }

    .accordion-collapse .articleCard p {
        padding: 8px 16px;
    }

    .accordion-collapse .articleCard .infoArticle {
        display: flex;
        justify-content: space-between;
        margin: 8px 12px;
        padding: 0 12px;
        width: 90%;
        border-bottom: 1px solid var(--fontColor);
    }

    .diaryMobile .articleCard .infoArticle i:nth-child(2) {
        display: none;
    }

    .diaryMobile .articleCard .infoArticle i:nth-child(3) {
        display: none;
    }

    /*=========================================================*/
    /*===============MENTION============*/

    #mentionsLeg h1 {
        font-size: 3rem;
    }

    #mentionsLeg p {
        font-size: 0.9rem;
    }


    /*=========================================================*/
    /*===============FOOTER============*/



    .basPage img {
        width: 30%;
        height: 30%;
    }

    .basPage .nousTrouver {
        font-size: 0.8rem;
        width: 30%;
    }

    .basPage .nousTrouver i {
        font-size: 1.3rem;
    }

    .basPage .nousTrouver h3 {
        font-weight: bold;
        font-size: 0.9rem;
        margin-bottom: 8px;
    }

    .basPage .partenaire {
        width: 30%;
    }

    #mentions {
        font-size: 0.8rem;
    }

    #mentions a:nth-child(1) {
        margin-right: 12px;
    }


}


/*========================================================================*/

/*===================++++412px++++=============*/

@media (max-width: 412px) {

    body {
        max-width: 412px;
    }



    /*===============HEADER===============*/

    .burger {
        margin-left: 80%;
    }

    #menuBurger {
        width: 168px;
    }


    /*============services==============*/


    #services .presentation {
        margin: 50px 32px;
    }

    /*============carte services==============*/


    #services .servicesCard p {
        margin-bottom: 16px;

    }


    .bouton a h3 {
        margin: 60px 62px;
        padding: 16px 0;
    }




    .endMain img {
        width: 60%;
        margin-left: 21%;

    }


    /*==============carousel services=============*/


    .carousel-control-prev-icon i {
        font-size: 3rem;
        color: var(--fontColor);

    }

    .carousel-control-next-icon i {
        font-size: 3rem;
        color: var(--fontColor);
    }

    #services #carouselServices .servicesCard .collapse p {
        font-size: 0.9rem;
    }


    /*-------------MAIN La ferme------------*/

    .carousel-caption {
        height: 142px;
    }


    .valeur h2 {
        font-size: 2rem;
        margin-top: 32px;
    }


    /*===============FOOTER============*/

    .basPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 16px;
    }

    .basPage .partenaire {
        width: 100%;

    }

    .basPage .logoFooter {
        width: 60%;
    }

    .basPage .partenaire h3 {
        font-size: 0.9rem;
        margin-top: 32px;
    }

    .basPage .partenaire img {
        width: 20%;
        margin-top: 8px;
    }

    .basPage .nousTrouver {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 8px 0px;
        font-size: 0.8rem;
        width: 100%;
        justify-content: center;
    }

    .basPage .partenaire:nth-child(1) {
        order: 3;
        margin-bottom: 32px;
    }

    .basPage .logoFooter:nth-child(2) {
        order: 1;
    }

    .basPage .nousTrouver:nth-child(3) {
        order: 2;
    }

    /*==================ACTUS===============*/

    .card-body .infoArticle {
        display: flex;
        justify-content: space-between;
        margin: 8px 12px;
        padding: 0 12px;
        width: 90%;
        border-bottom: 1px solid var(--fontColor);
    }

    .card-body i:nth-child(2),
    .card-body i:nth-child(3) {
        display: none;
    }

}


/*================================================================================================*/

/*===============================320px=========================================*/

@media (max-width: 320px) {

    /*=================GENERALE==============*/

    body {
        max-width: 320px;
    }


    #menuBurger {
        left: 23%;
    }

    .basPage .partenaire h3 {
        margin-top: 0px;
    }

    .basPage .partenaire img {
        width: 20%;
        margin-top: 8px;
    }


    /*-------------MAIN La ferme------------*/

    .ariane p {
        margin: 4px;
    }

    #presentation {
        margin: 32px 16px;
    }

    #services h2 {
        margin-top: 16px;
        margin-bottom: 8px;

    }

    .carousel-caption {
        height: 100px;
    }

    .carousel-caption h5 {
        font-size: 1rem;
    }

    .carousel-caption p {
        display: none;
    }

    .carousel-control-prev {
        left: 0px;
    }

    .carousel-control-next {
        right: 0px;
    }

    /*============La ferme - nos valeur=======*/

    .valeur h2 {
        font-size: 1.3rem;
    }

}